.u-background {
  &--beige {
    background-color: $colorBeige;
  }
  &--black {
    background-color: $colorBlack;
  }
  &--blue {
    background-color: $colorBlue;
  }
  &--darkBeige {
    background-color: $colorDarkBeige;
  }
  &--darkPurple {
    background-color: $colorDarkPurple;
  }
  &--green {
    background-color: $colorGreen;
  }
  &--purple {
    background-color: $colorPurple;
  }
  &--red {
    background-color: $colorRed;
  }
  &--yellow {
    background-color: $colorYellow;
  }
  &--white {
    background-color: $colorWhite;
  }
}