.u-background {
  &--black {
    background: $colorBlack;
  }
  &--primary {
    background: $colorPrimary;
  }
  &--secondary {
    background: $colorSecondary;
  }
  &--tertiary {
    background: $colorTertiary;
  }
  &--white {
    background: $colorWhite;
  }
}