.u-color {
  &--beige {
    color: $colorBeige;
  }
  &--black {
       color: $colorBlack;
     }
  &--blue {
    color: $colorBlue;
  }
  &--darkBeige {
    color: $colorDarkBeige;
  }
  &--darkPurple {
    color: $colorDarkPurple;
  }
  &--green {
    color: $colorGreen;
  }
  &--purple {
    color: $colorPurple;
  }
  &--red {
    color: $colorRed;
  }
  &--yellow {
    color: $colorYellow;
  }
  &--white {
    color: $colorWhite;
  }
}