.l-input {
  border: none;
  padding: 1em 1.5em;
  line-height: 1;
  border-radius: 2em;
  box-sizing: border-box;
  max-width: 100%;

  &--fullwidth {
    width: 100%;
  }
  &::placeholder {
    font-style: italic;
    color: lighten($colorBlack, 50%);
  }

  &:-ms-input-placeholder {
    font-style: italic;
    color: lighten($colorBlack, 50%);
  }
}