// Make this container a flexbox and display children as row

.l-row {
  display: flex;
  flex-direction: row;
  &--break {
    flex-wrap: wrap;
  }

  &--center {
    align-items: center;
  }

  &__item {

    &--right {
      margin-left: auto;
      margin-right: 0;
    }
    &--left {
      margin-left: 0;
      margin-right: auto;
    }
  }
}