.l-width {
  &--100 {
     width: 100%;
     box-sizing: border-box;
   }
}

.l-maxWidth {
  &--1024 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    box-sizing: border-box;
  }
}