// Colors
$colorBeige: #F7EFE6;
$colorBlack: #191919;
$colorBlue: #268FA6;
$colorDarkBeige: #C4B6A7;
$colorDarkPurple: #27265C;
$colorGreen: #6FB03C;
$colorPurple: #595091;
$colorRed: #E0431F;
$colorYellow: #F0B135;
$colorWhite: #fff;

$colorPrimary: $colorPurple;
$colorSecondary: $colorYellow;
$colorTertiary: $colorDarkPurple;


