// Font stacks and font sizes
// Picked from:
// http://type-scale.com/?size=16&scale=1.333&text=Ghost%20Panda&webfont=Open%2BSans|Lora&font-family=%27Open%20Sans%27%20%2C%20serif&font-weight=400&font-family-headers=%27Lora%27&font-weight-headers=inherit&background-color=white&font-color=%23333


// Font stacks
$fontPrimary: 'Raleway', 'Lucida Grande', 'Arial', sans-serif;
$fontSecondary: 'Lato', 'Arial', sans-serif;


// Text sizes
$textSizeXSmall: 0.75rem;
$textSizeSmall: 1rem;
$textSizeMedium: 1.333rem;
$textSizeLarge: 1.777rem;
$textSizeXLarge: 2.369rem;
$textSizeXXLarge: 3.157rem;
