// Variations of icon system

$iconSmall: 1rem;
$iconMedium: 2rem;
$iconLarge: 4rem;
$iconXLarge: 6rem;

.c-icon {
  display: block;
  height: 1em;
  max-height: 1em;
  max-width: 1em;
  min-height: 1em;
  min-width: 1em;
  width: 1em;


  &--small {
    font-size: $iconSmall;
  }
  &--medium {
    font-size: $iconMedium;
  }
  &--large {
    font-size: $iconLarge;
  }
  &--xlarge {
    font-size: $iconXLarge;
  }

  &--round {
    border-radius: 50%;
  }

  &__content {
    fill: currentColor;
    max-height: 100%;
    max-width: 100%;
  }
}